<div class="col-12">
  <div class="card-columns col-centered" style="width: 50rem;">
    <div class="card bg-dark text-white" (click)="goEdit(movie)" *ngFor="let movie of movies">
      <img class="card-img" *ngIf="movie.backdrop_path"
        src="https://image.tmdb.org/t/p/w250_and_h141_face{{ movie.backdrop_path }}" alt="Capa do filme" />

      <img class="card-img" *ngIf="!movie.backdrop_path" src="../../assets/WithOutMoviePic.jpg" alt="Capa do filme" />

      <div class="card-body">
        <p class="card-title">{{ movie.title }}</p>
      </div>
    </div>
  </div>
  <ngb-pagination class="d-flex justify-content-center" [collectionSize]="totalelements" [(page)]="page" [pageSize]="9"
    [maxSize]="3" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="changePage()">
  </ngb-pagination>
</div>